<div class="profile-form">
<%= form_with(model: profile, url: profile_path, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h3>
      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= current_user.email %></p>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :profile_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :profile_phone %>
  </div>

    <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo, id: :profile_photo %>
  </div>
  
    <div class="field">
    Remove attachment: <%= form.check_box :remove_photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>