<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card card-body">
      <% if @profile.photo.present? %>
        <figure><%= image_tag @profile.photo_url(:medium) %></figure>
      <% end %>
        <div class="card-text">
        <p><strong><%= @profile.user.email %></strong></p>
        <p><strong>Name: </strong><%= @profile.name %></p>
        <p><strong>Phone: </strong><%= @profile.phone %></p>
        <p>
          <strong>Address: </strong>
          <%= @profile.address.street %>, 
          <%= @profile.address.suburb.capitalize %>
          <%= @profile.address.state.upcase %>
          <%= @profile.address.postcode %>
        </p>
        </div>
      </div>
    </div>
  </div>
</div>        

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', root_path %>
