<h2>Repairers</h2>

<details>
  <summary>All</summary>
<%= render @repairers %>
 </details>
<br>

<details>
  <summary>Electronics</summary>
  <%= render @electronics_repairers %>
</details>
<details>
  <summary>Carpentry</summary>
  <%= render @carpentry_repairers %>
</details>
<details>
  <summary>Jewellery</summary>
  <%= render @jewellery_repairers %>
</details>
<details>
  <summary>White Goods</summary>
  <%= render @whitegoods_repairers %>
</details>
<details>
  <summary>Clothing & Fabric</summary>
  <%= render @clothing_repairers %>
</details>
<details>
  <summary>Upholstery</summary>
  <%= render @upholstery_repairers %>
</details>

<br>
