<h1>Items</h1>
<%= link_to 'New Item', new_item_path %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    <% @items.each do |item| %>
      <div class="card card-body">
        <% if item.photo.present? %>
          <%= image_tag item.photo_url(:medium) %>
        <% end %>
        <div class="card-text">
          <h2><%= link_to item.title, item %></h2>
          <p><%= item.category %></p>
        </div>
        <br>
        <%# if item belongs to current_user %>
        <% if item.user == current_user %>
        <%= link_to 'Repair', new_repair_path(item_id: item.id) %>
        <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>
        <%# elsif current_user is_repairer %>
        <%# <div><%= link_to 'Offer to repair', item,  %> 
      </div>
    <% end %>
    </div>
</div>

<br>

