<p id="notice"><%= notice %></p>

<h1>Items</h1>

<div class="container-fluid">
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-sm-3">
      <div class="card card-body">
        <% if item.photo.present? %>
          <%= image_tag item.photo_url(:small) %>
        <% end %>
        <div class="card-text">
          <h2><%= item.title %></h2>
          <p><%= item.category %></p>
          <p><%= item.description %></p>
          <p><%= item.problem %></p>
        </div>
        <div><%= link_to 'Show', item %></div>
        <div><%= link_to 'Edit', edit_item_path(item) %></div>
        <div><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    </div¯>
    <% end %>
</div>

<br>

<%= link_to 'New Item', new_item_path %>
