<div class="devise-body">
<h2>Get your <%= @repair.item.title.capitalize %> repaired</h2>

<%= form_with(model: @repair) do |f| %>
  <%= f.hidden_field :item_id %>    

  <p>Select who you want to repair your <%= @repair.item.title %>:</p>
<% @repairers.each do |repairer| %>
  <p><%= f.radio_button :repairer_id, repairer.id %>
  <%= f.label repairer.business_name %></p>
<% end %>

    <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @repair.item.title %>"
          data-email="<%= current_user.email %>"
          data-amount="500"
          data-currency="aud"
          data-locale="auto"></script>
<% end %>

</div>
  
