<!DOCTYPE html>
<html>
  <head>
    <title>TheFourthR</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 class="page-head">
            <%= link_to "the fourth R", root_path %>
            </h1>
        </div>
    <div class="nav navbar-right">
      <% if user_signed_in? %>
        <h5><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></h5>
      <% else %>
        <h5><%= link_to('Sign in', new_user_session_path) %></h5>
      <% end %>
    </div>
    </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

   <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
      <span class="nav navbar-nav">
        <p>About | FAQ | <%= link_to "Support", support_path %></p>
        </span>
    </div>
  </nav>
  </body>
</html>
